#wd-assignments-editor {
    margin: 20px;
  }
  
#wd-assignments-editor label {
font-weight: bold;
}

#wd-assignments-editor input,
#wd-assignments-editor select,
#wd-assignments-editor textarea {
width: 100%;
margin-bottom: 10px;
padding: 8px;
box-sizing: border-box;
}

#wd-assignments-editor table {
width: 100%;
}

#wd-assignments-editor fieldset {
margin-top: 10px;
padding: 10px;
border: 1px solid #ccc;
}

#wd-assignments-editor legend {
font-weight: bold;
}

#wd-assignments-editor label input[type="checkbox"] {
margin-right: 10px;
}
  