/* Styles for the sidebar */
#wd-kanbas-navigation {
    width: 120px;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: black;
    z-index: 2;
}

/* Styles for the main content */
.main-content {
    margin-left: 120px; /* Ensure the content starts after the sidebar */
    padding: 20px; /* Add padding for better spacing */
}

/* Media query for larger screens */
@media (min-width: 768px) {
    .wd-main-content-offset {
        padding-left: 140px !important;
    }
}
